@model IEnumerable<MvcApiPersonajesExamen.Models.Personaje>

@{
    ViewData["Title"] = "Personajes";
}

<h1>Personajes</h1>

<p>
    <a asp-action="InsertPersonaje">Crear personaje</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPersonaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPersonaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serie)
            </td>
            <td>
              <a asp-controller="Personajes" asp-action="Detalles" asp-route-idpersonaje="@item.IdPersonaje">
                  Detalles
              </a>
                    <a asp-controller="Personajes" asp-action="UpdatePersonaje" asp-route-idpersonaje="@item.IdPersonaje">
                        Editar
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
